/* Cambios en texto global */
* {
  font-family: Arial;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
}

#current_slide {
  width: 1000px;
  height: 600px;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  box-shadow: black 1px 0 5px;
}

button {
  background-color: white;
  padding: 4px;
  margin-top: 10px;
  border-radius: 10px 10px 10px 10px;
  text-shadow: 1px 1px 1px black, 0 0 1em blue;
}
