/* Cambios en texto global */
* {
  font-family: Arial;
  text-align: center;
}

/* Background de todas las páginas */
body {
  background: #e5dcef;
}

img {
  /* Se define tamaño máximo de imágenes */
  max-width: 300px;
  /* Bordes redondeados */
  border-radius: 10px 10px 10px 10px;
  object-fit: fill;
}

#titulo {
  /* Tamaño y sombra del título en cada página */
  font-size: 30px;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

/* Tablas centradas */
table {
  display: inline-block;
}

/* Ajustes para tablas con id particular */
#tabla-ej {
  /* Líneas de bordes son redondeados */
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  /* Colores */
  background-color: white;
  box-shadow: black 1px 0 5px;
}

#td-ej {
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  /* Estilos para el texto */
  text-align: center;
  font-size: 25px;
}
