/* Se aplica un ajuste de letra global*/
* {
  font-family: Arial;
}

/* Quita underline a todos los enlaces */
a {
  text-decoration: none;
}
/* Contenedor navbar */
.navbar {
  overflow:hidden;
  /* Borde redondeado en cuatro extremos */
  border-radius: 10px 10px 10px 10px;
  /* Se define color */
  background-color: #845ec2;
}

/* Links dentro del navbar */
.navbar a {
  /* Ubicación de cada enlace */
  float: left;
  padding: 20px 22px;
  /* Ajustes para texto */
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

/* Contenedor del submenú desplegable */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Botón del submenú desplegable */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 20px 22px;
  background-color: inherit;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

/* Fondo de color rojo para hover en el navbar */
.navbar a:hover, .dropdown:hover .dropbtn, .previa:hover {
  background-color: #b39cd0;
}

/* Contenido del dropdown (submenú) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* Permite scroll entre todos los aas */
  overflow: scroll;
  max-height: 400px;
}

/* Enlaces dentro del dropdown hacia las páginas de aas */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Fondo gris a los enlaces en el dropdown en selección*/
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Muestra el dropdown para el botón de aas*/
.dropdown:hover .dropdown-content {
  display: block;
}

.previa {
  font-size: 20px;
  border: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  color: white;
  float: right;
  padding: 20px 22px;
  background-color: inherit;
}
/* Enlaces página principal */
ul.no-polares, ul.aromaticos, ul.polares, ul.basicos, ul.acidos {
  position: absolute;
  list-style-type: none;
  text-align: center;
}

/* Estilo para cada elemento de lista */
ul.no-polares li, ul.aromaticos li, ul.polares li, ul.basicos li, ul.acidos li{
  margin: 10px;
  height: 280px;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
}

ul.no-polares li:hover, ul.aromaticos li:hover, ul.polares li:hover, ul.basicos li:hover, ul.acidos li:hover {
  background: #b39cd0;
}

/* Ubicación de cada lista en index */
ul.aromaticos {
  margin-left: 600px;
}

ul.polares {
  margin-left: 300px;
}

ul.basicos {
  margin-left: 900px;
}

ul.acidos {
  margin-left: 1200px;
}

/* Estilo de links de aas en index */
.aas-link {
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.ass-link a:hover {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

/* Tamaño de imágenes 3D en index */
.img-3D {
  width:  220px;
  height: 220px;
  object-fit: contain;

}
/* Ajustes del título principal */
#titulo {
  font-size: 50px;
  margin-left: 30px;
  text-shadow: black 1px 0 5px;
}

/* Ajustes de cada subtítulo */
.subtitulo {
  text-shadow: black 1px 0 5px;
  font-size: 30px;
  padding-top: 20px;
  padding-left: 30px;
}

/* Ubicación, justificado y tamaño de texto en descripciones y fórmulas */
.texto {
  font-size: 30px;
  text-align: justify;
  padding-left: 30px;
  padding-right: 50px;
}

/* Ubicación de tablas e imagen */
.izquierda, #img-aa-individual {
  position: absolute;
}

/* Espaciado izquierdo para tablas */
.izquierda {
  padding-top: 10px;
  float: left;
}

/* Ajustes generales de tablas */
table {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

/* Definición tamaño y ajustes de borde de tablas */
th {
  background-color: #845ec2;
  width: 200px;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  /* Estilos para el texto */
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

td {
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  /* Estilos para el texto */
  text-align: center;
  font-size: 20px;
}

/* Link de wikipedia */
#wiki {
  padding-left: 30px;
  font-size: 30px;
}

/* Espaciado izquierdo para imagen y tamaño */
#img-aa-individual {
  left: 900px;
  width: 40%;
  float: right;
}

ul.codones, ul.fuente_aa {
  list-style: circle;
  padding-left: 50px;
}

ul.codones li, ul.fuente_aa li {
  font-size: 30px;
}

/* Ajusten en página de autor */
.autor {
  /* Contenedor de información del autor */
  border: 1px solid black;
  box-shadow: 5px 10px 10px 0px #845ec2;
  max-width: 720px;
  height: 800px;
  margin-left: 600px;
  margin-top: 40px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
}

#autor-img {
  /* Borde de la imagen */
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  /* Ubicación*/
  margin-top: 30px;
  /* Tamaño */
  width: 70%;
  /* Transición */
  transition: .5 ease;
  backface-visibility: hidden;
  opacity: 1;
}

/* Transición hover en imagen de autor*/
.transicion {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.contenedor:hover #autor-img {
  opacity: 0.3;
}

.contenedor:hover .transicion {
  opacity: 1;
}

#tabla_autor {
  display: inline;
  float: left;
}

.th_autor {
  /* Encabezado de la tabla de autor */
  background-color: transparent;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  border: none;
  text-align: center;
  color: black;
}

.td_autor {
  /* Contenido de tabla de autor */
  border: none;
  color: black;
}

ul.iconos, ul.contacto {
  /* Configuración para elementos de listas en tabla de autor */
  list-style-type: none;
  text-align: justify;
}

ul.iconos li, ul.contacto li {
  /* Margen entre elementos de la lista */
  margin: 5px;
  font-size: 15px;

  /* Diseño del contenedor de cada elemento */
  background-color: #845ec2;
  box-shadow: 0px 4px 8px 0px #845ec2;
  border-radius: 10px 10px 10px 10px;
  width: 240px;
  /* padding: 5px; */

  /* Texto centrado */
  text-align: center;

}
.red_social {
  /* Elimina underline del nombre de cada red social */
  color: black;
  text-decoration: none;
}
