/* Cambios en texto global */
* {
  font-family: Arial;
}

table {
  /* Disposición de tabla */
  display: inline-table;
  /* Tamaños de tabla */
  width: 600px;
  height: 100px;
  /* Diseño de tablas */
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  box-shadow: black 1px 0 5px;
}

h2 {
  text-shadow: 1px 1px 1px black, 0 0 1em blue;
}
