/* Cambios en texto global */
* {
  font-family: Arial;
}

/* Contenedor de imágenes */
.box {
  display: inline-flex;
  width: 400px;
  height: 400px;
}

#current_play {
  /* Dimensiones de imágenes */
  width: 300px;
  height: 300px;
}

button {
  display: block;
}
