
/* Configuración global de color de fondo, fuente y texto */
body {
  background-color: #fbeaff;
  text-align: center;
  font-family: Arial;
}

/* Título principal de página con borde redondeado*/
#titulo {
  text-transform: uppercase;
  color: white;
  background: #845ec2;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
}

/* Se transforma a mayúscula cada subtítulo */
.subtitulo {
  text-transform: uppercase;
}
