/* Definición tamaño y ajustes de borde de tablas */
th, td {
  width: 120px;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  text-align: center;
}

/* Ubicación de tablas e imagen */
.tablas, img {
  padding-top: 20px;
  position: absolute;
}

/* Espaciado izquierdo para tablas */
.tablas {
  padding-left: 250px;
}

/* Espaciado izquierdo para imagen y tamaño */
img {
  padding-left: 0px;
  width: 30%;
}
