/* Tamaño de letra de párrafo */
p {
  font-size: 20px;
}
/* Tamaño, radio de h3 */
h3 {
  background: #b39cd0;
  padding: 5px;
  border-radius: 10px 10px 10px 10px;
}

/* Ubica información bajo el título */
.miembros, .mascota {
  position: absolute;
  padding-top: 20px;
}

/* Margen de imagen, cuadro y video */
.mascota {
  padding-left: 800px;
}

/* Margen de textos */
.miembros {
  padding-left: 250px;
}

/* Estilo para gif */
#gif {
  border-radius: 10px 10px 10px 10px;
}

/* Tabla (bordes) */
th, td {
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

/* Ajustes y posición de la tabla completa */
table {
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Borde redondeado del video */
iframe {
  border-radius: 10px 10px 10px 10px;
}
