/* Posiciona el contenedor de imágenes */
.contenedor {
  display: inline-grid;
  /* Tamaño de cada columna */
  grid-template-columns: 400px 400px 400px;
  /* Espaciado entre columnas */
  grid-gap: 10px;
}

/* Ajustes para texto (tamaño, posición, espaciado) */
.captura{
  display: inline-grid;
  grid-template-columns: 400px 400px 400px;
  position: absolute;
  padding-top: 204px;
  grid-gap: 10px;
  grid-row-gap: 216px;
}

/* Redondeado de imágenes */
img {
  border-radius: 10px 10px 10px 10px;
  width: 100%;
}

/* Ajustes de borde, color y espaciado */
#texto {
  border-radius: 0px 0px 10px 10px;
  padding: 15px;
  background: #845ec2;
}
