/* Borde redondeado y tamaño de gif*/
#gif {
  width: 50%;
  border-radius: 10px 10px 10px 10px;
}

/* Ajustes para enlaces */
ul.enlaces {
  list-style-type: none;
}

/* Estilo para cada elemento de lista */
ul.enlaces li {
  background: #b39cd0;
  margin: 5px;
  padding: 5px;
  border-radius: 10px 10px 10px 10px;
}

/* Se alinea lista a la izquierda */
ul.datos {
  text-align: left;
  padding-left: 250px;
}

/* Ubicación de dos columnas bajo el título*/
.extra, .info {
  padding-top: 20px;
  position: absolute;
}

/* Columna con información se posiciona primero */
.info {
  padding-left: 30px;
  width: 50%;
}

/* Columna con enlaces a otras páginas */
.extra {
  padding-left: 800px;
}
