/* Tamaño, borde y disposición de imágenes */
img {
  width:  230px;
  height: 230px;
  border-radius: 10px 10px 10px 10px;
  object-fit: cover;
}

/* Ajustes de ubicación, color, borde de grid */
.grid-container {
  padding: 5px;
  grid-column: auto;
  display: inline-flex;
  grid-gap: 5px;
  background-color: #845ec2;
  border-radius: 10px 10px 10px 10px;
}
